@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./quote.css');


.blog-container{
  max-width: 680px;
  @apply mx-auto;
}


.blog-post-header::before{
  content:  "\2190"; 
  /* "←"; */
  @apply mr-2;
}

.remove-before::before{
  content: none !important;
}

.image-slice-medium-width > div{
  @apply lg:max-w-none;
  @apply lg:w-12/9;
  @apply lg:-ml-2/12 !important;
}